*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: grey ;
    color: white;
    display: grid;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1 ;
    background-color: black;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;

}

.btn{
    background-color: whitesmoke;
    color: black;
    padding: 0.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    background-color: gray;
}

#igual {
    grid-row: span 2;
    
}

